practicas.py
python/calculadora/__pycache__
practicas.py
python/bd/demo/include
python/bd/demo/Scripts
python/bd/demo/lib
python/bd/demo/pyvenv.cfg
python/prueba.db
python/bd/demo/practicas.py
python/bd/demo/prueba.db
python/bd/demo/pruebas.py